*{
  padding: 0;
  margin: 0;
}
/* LOGIN PAGE STYLING */
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
  
}
.login-section h1{
 margin-top: 50px;
}

form{
  display: flex;
  flex-direction: column;
  
}
.form input{
  padding:10px;
  background-color: #dedede;
  font-weight: 600;
  width:600px;
  height: 30px;
  margin:20px 0px;
  border-radius: 10px;
  border-style: none;
  padding-left: 25px;
}

.btn{
  background-color: #245783;
  border-radius: 10px;
  border-style: none;
  color: white;
  height: 45px;
  width: 630px;
  margin: 10px 0px;
  letter-spacing: 5px;
}

.bg-img{
  background-image: url(images/space.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 100vh;
}


/* NAVIGATION BAR STYLING*/

.nav-bar{
  background-color:black ;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-bar .logo{
  position: relative;
  top: 25px;
  left: 100px;
  font-size: 25px;
  font-weight: bolder;
}

.nav-list{
  
  display: flex;
  align-items: center;
 
}
.nav-list li{
  font-weight: bold;
  margin:0px 0px 0px 50px ;
  list-style: none;
 
}

.nav-list li .anchor{
  text-decoration: none;
  color: white;
}

.nav-bar button{
  background-color: #238aab;
  border-radius: 10px;
  height: 50px;
  width: 130px;
  color:white;
  font-weight: bolder;
  margin-top: 15px;
  margin-right: 50px;
  
}


/* HOME PAGE STYLING */

.first-section{
  background-color: white;
  display: grid;
  height: 90vh;
  width: 100%;
  grid-template-columns: 2fr 1fr;
}

.first-section-left{
  position: relative;
  left: 10px;
  margin: 120px;

}
.first-section-left span{
  color: #238aab;
}
.first-section-left h1{
  font-size: 65px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.first-section-left p{
  margin: 30px 0px 30px 0px;
  font-family: monospace;
  font-size: 20px;
}
.first-section-right .bg-img{
  max-height: 600px;
  margin-top: 40px;
  margin-right: 30px;
}


.second-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #238aab;
  width: 100%;
  height: 75vh;
}

.second-section-left{
  position: relative;
  top: 35px;
  left:80px;
}

.second-section-right{
  position: relative;
  top: 110px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: white;
}
.second-section-right h1{
  font-size: 50px;
  margin-bottom: 25px;
}
.second-section-right p{
  font-size: 18px;

}

.second-section-btn{
  position: relative;
  top: 50px;
  background-color: white;
  color: #238aab;
  border-radius: 5px;
  border: none;
  width: 120px;
  height: 40px;
  font-weight: bold;
}

.third-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  height: 90vh;
  width: 100%;
}
.third-section-left{
 margin: 130px 0px 0px 180px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
 font-size: 30px;
}
.third-section-left span{
  color: #238aab;

}

.third-section-left ul{
  margin:30px 0px 30px 30px;
  font-size: 25px;
}
.third-section-left ul li{
  padding-top:20px ;
}

.third-section-left .download-img{
  position: relative;
  top: 70px;
}
.third-section-right{
  position: relative;
  top: 30px;
}


